*.suo
*.user
*.nupkg
*.orig

[Bb]in/
[Oo]bj/
_ReSharper*/
packages/
.vs/

/TestWebsite/Content/AuthorizationUi/packages/*
/TestWebsite/Content/AuthorizationUi/.pub/*
/TestWebsite/Content/AuthorizationUi/web/packages/*


